<div class="home">
  <div class="page-header">
    <div>
      <div class="row profile-header text-center">
        <h2 class="title-block">Resume</h2>
      </div>
    </div>
  </div>
  <div class="row pt-4 pb-4 resume-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 ps-sm-4">
        <h3 class="subtitle-resume">Education</h3>
        <div class="overflow-auto scroll-container">
          <div class="timeline" *ngFor="let ed of educationList">
            <app-timeline-item [item-data]="ed" [type]="'ED'"></app-timeline-item>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 ps-sm-4">
        <h3 class="subtitle-resume">Experience</h3>
        <div class="overflow-auto scroll-container">
          <div class="timeline" *ngFor="let ed of educationList">
            <app-timeline-item [item-data]="ed" [type]="'EX'"></app-timeline-item>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xs-12 col-sm-6 ps-sm-4">
        <h3 class="subtitle-resume">Frontend Skills</h3>
        <div class="overflow-auto scroll-container-skills">
          <div *ngFor="let sk of skillListFront">
            <app-skill-bar [skill]="sk"></app-skill-bar>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 ps-sm-5">
        <h3 class="subtitle-resume">Backend Skills</h3>
        <div class="overflow-auto scroll-container-skills">
          <div *ngFor="let sk of skillListBack">
            <app-skill-bar [skill]="sk"></app-skill-bar>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <a href="../../../../../assets/files/LEON%20MATIAS%20R.%20FULLSTACK%20SENIOR-EN.pdf" type="button"
         class="btn btn-outline-secondary mt-4 w-25 m-auto" download="CV-LEON-MATIAS.pdf">DOWNLOAD RESUME</a>
    </div>
  </div>
</div>
