<div class="home">
  <div class="page-header">
    <div>
      <div class="row profile-header text-center">
        <h2 class="title-block">Resume</h2>
      </div>
    </div>
  </div>
  <div class="row pt-4 pb-4 resume-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 ps-sm-5">
        <h3 class="subtitle-resume">Education</h3>
        <div class="timeline" id="timeline-6066951004a4d">
          <div class="timeline-item">
            <h4 class="item-title">Specialization Course</h4>
            <span class="item-period">2012</span>
            <span class="item-small">Apple Inc.</span>
            <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
          </div>
          <div class="timeline-item">
            <h4 class="item-title">Specialization Course</h4>
            <span class="item-period">2011</span>
            <span class="item-small">Apple Inc.</span>
            <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
          </div>
          <div class="timeline-item">
            <h4 class="item-title">Specialization Course</h4>
            <span class="item-period">2010</span>
            <span class="item-small">Apple Inc.</span>
            <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 ps-sm-5">
        <h3 class="subtitle-resume">Experience</h3>

      </div>
    </div>
  </div>
</div>
