<mat-nav-list>
  <a (click)="navigateRoute('/home')" mat-list-item>
    <span mat-line>Home</span>
  </a>
  <a (click)="navigateRoute('/resume')" mat-list-item>
    <span mat-line>Resume</span>
  </a>
  <a (click)="navigateRoute('/services')" mat-list-item>
    <span mat-line>Services</span>
  </a>
  <a (click)="navigateRoute('/portfolio')" mat-list-item>
    <span mat-line>Portfolio</span>
  </a>
  <a (click)="navigateRoute('/contact')" mat-list-item>
    <span mat-line>Contact</span>
  </a>
  <a (click)="navigateRoute('/blog')" mat-list-item>
    <span mat-line>Blog</span>
  </a>
</mat-nav-list>
